<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='style.css')}}"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>
	<body>
		<div class="container">
			<div class="col-sm-6 offset-sm-3">
				<div class="msg-header">
					<img
						src="https://user-images.githubusercontent.com/47237334/83617987-6f6bec80-a5bc-11ea-9205-46ce79b4eab0.jpg"
						alt="logo"
						style="width: 40px; height: 40px;"
					/>
					TulGan
				</div>
			</div>
			<div class="chat-page">
				<div class="col-sm-6 offset-sm-3">
					<div
						id="chatbox"
						class="border border-secondary"
						class="overflow-auto msgs"
						style="overflow-y: scroll; height: 500px;"
					>
						<div class="bot-msg">
							<p class="botText">
								<span>Hi, how may I assist you?</span>
							</p>
						</div>
					</div>
					<div class="userInput">
						<div class="input-group mb-3">
							<input
								type="text"
								class="form-control"
								placeholder="Type Your Message Here"
								aria-label="Message"
								id="textInput"
								name="user_inpt"
							/>
							<div class="input-group-append">
								<button
									class="btn btn-primary"
									type="submit"
									id="sendBtn"
									style="
										background-color: #181c62;
										color: #fff;
									"
								>
									<i class="fa fa-paper-plane"> </i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function getResponse() {
				let userText = $("#textInput").val();
				let userHtml =
					'<div class="user-msg"><p class="userText"><span>' +
					userText +
					"</span></p></div>";
				$("#textInput").val("");
				$("#chatbox").append(userHtml);
				$.get("/process", { msg: userText }).done(function (data) {
					var botHtml =
						'<div class="bot-msg"><p class="botText"><span>' +
						data +
						"</span></p></div>";
					$("#chatbox").append(botHtml);
				});
			}
			$("#textInput").keypress(function (e) {
				//if enter key is pressed
				if (e.which == 13) {
					getResponse();
				}
			});
			$("#sendBtn").click(function () {
				getResponse();
			});
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
